# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.ckpt
expr/checkpoints/.DS_Store
expr/checkpoints/foodimg512/.DS_Store
expr/results/foodimg256/reference.jpg
expr/results/foodimg256_rice/reference.jpg
expr/samples/000000_cycle_consistency.jpg
expr/samples/000000_latent_psi_0.5.jpg
expr/samples/000000_latent_psi_0.7.jpg
expr/samples/000000_latent_psi_1.0.jpg
expr/samples/000000_reference.jpg
expr/samples/000001_cycle_consistency.jpg
expr/samples/000001_latent_psi_0.5.jpg
expr/samples/000001_latent_psi_0.7.jpg
expr/samples/000001_latent_psi_1.0.jpg
expr/samples/000001_reference.jpg
expr/samples/000010_cycle_consistency.jpg
expr/samples/000010_latent_psi_0.5.jpg
expr/samples/000010_latent_psi_0.7.jpg
expr/samples/000010_latent_psi_1.0.jpg
expr/samples/000010_reference.jpg
expr/samples/000011_cycle_consistency.jpg
expr/samples/000011_latent_psi_0.5.jpg
expr/samples/000011_latent_psi_0.7.jpg
expr/samples/000011_latent_psi_1.0.jpg
expr/samples/000011_reference.jpg
expr/samples/000013_cycle_consistency.jpg
expr/samples/000013_latent_psi_0.5.jpg
expr/samples/000013_latent_psi_0.7.jpg
expr/samples/000013_latent_psi_1.0.jpg
expr/samples/000013_reference.jpg
expr/samples/000014_cycle_consistency.jpg
expr/samples/000014_latent_psi_0.5.jpg
expr/samples/000014_latent_psi_0.7.jpg
expr/samples/000014_latent_psi_1.0.jpg
expr/samples/000014_reference.jpg
expr/samples/000050_cycle_consistency.jpg
expr/samples/000050_latent_psi_0.5.jpg
expr/samples/000050_latent_psi_0.7.jpg
expr/samples/000050_latent_psi_1.0.jpg
expr/samples/000050_reference.jpg
expr/samples/000100_cycle_consistency.jpg
expr/samples/000100_latent_psi_0.5.jpg
expr/samples/000100_latent_psi_0.7.jpg
expr/samples/000100_latent_psi_1.0.jpg
expr/samples/000100_reference.jpg
expr/samples/000150_cycle_consistency.jpg
expr/samples/000150_latent_psi_0.5.jpg
expr/samples/000150_latent_psi_0.7.jpg
expr/samples/000150_latent_psi_1.0.jpg
expr/samples/000150_reference.jpg
expr/samples/000200_cycle_consistency.jpg
expr/samples/000200_latent_psi_0.5.jpg
expr/samples/000200_latent_psi_0.7.jpg
expr/samples/000200_latent_psi_1.0.jpg
expr/samples/000200_reference.jpg
expr/samples/000250_cycle_consistency.jpg
expr/samples/000250_latent_psi_0.5.jpg
expr/samples/000250_latent_psi_0.7.jpg
expr/samples/000250_latent_psi_1.0.jpg
expr/samples/000250_reference.jpg
expr/samples/000300_cycle_consistency.jpg
expr/samples/000300_latent_psi_0.5.jpg
expr/samples/000300_latent_psi_0.7.jpg
expr/samples/000300_latent_psi_1.0.jpg
expr/samples/000300_reference.jpg
expr/samples/000350_cycle_consistency.jpg
expr/samples/000350_latent_psi_0.5.jpg
expr/samples/000350_latent_psi_0.7.jpg
expr/samples/000350_latent_psi_1.0.jpg
expr/samples/000350_reference.jpg
expr/samples/000400_cycle_consistency.jpg
expr/samples/000400_latent_psi_0.5.jpg
expr/samples/000400_latent_psi_0.7.jpg
expr/samples/000400_latent_psi_1.0.jpg
expr/samples/000400_reference.jpg
expr/samples/000450_cycle_consistency.jpg
expr/samples/000450_latent_psi_0.5.jpg
expr/samples/000450_latent_psi_0.7.jpg
expr/samples/000450_latent_psi_1.0.jpg
expr/samples/000450_reference.jpg
expr/samples/000500_cycle_consistency.jpg
expr/samples/000500_latent_psi_0.5.jpg
expr/samples/000500_latent_psi_0.7.jpg
expr/samples/000500_latent_psi_1.0.jpg
expr/samples/000500_reference.jpg
expr/samples/000550_cycle_consistency.jpg
expr/samples/000550_latent_psi_0.5.jpg
expr/samples/000550_latent_psi_0.7.jpg
expr/samples/000550_latent_psi_1.0.jpg
expr/samples/000550_reference.jpg
expr/samples/000600_cycle_consistency.jpg
expr/samples/000600_latent_psi_0.5.jpg
expr/samples/000600_latent_psi_0.7.jpg
expr/samples/000600_latent_psi_1.0.jpg
expr/samples/000600_reference.jpg
expr/samples/000650_cycle_consistency.jpg
expr/samples/000650_latent_psi_0.5.jpg
expr/samples/000650_latent_psi_0.7.jpg
expr/samples/000650_latent_psi_1.0.jpg
expr/samples/000650_reference.jpg
expr/samples/000700_cycle_consistency.jpg
expr/samples/000700_latent_psi_0.5.jpg
expr/samples/000700_latent_psi_0.7.jpg
expr/samples/000700_latent_psi_1.0.jpg
expr/samples/000700_reference.jpg
expr/samples/000750_cycle_consistency.jpg
expr/samples/000750_latent_psi_0.5.jpg
expr/samples/000750_latent_psi_0.7.jpg
expr/samples/000750_latent_psi_1.0.jpg
expr/samples/000750_reference.jpg
expr/samples/000800_cycle_consistency.jpg
expr/samples/000800_latent_psi_0.5.jpg
expr/samples/000800_latent_psi_0.7.jpg
expr/samples/000800_latent_psi_1.0.jpg
expr/samples/000800_reference.jpg
expr/samples/000850_cycle_consistency.jpg
expr/samples/000850_latent_psi_0.5.jpg
expr/samples/000850_latent_psi_0.7.jpg
expr/samples/000850_latent_psi_1.0.jpg
expr/samples/000850_reference.jpg
expr/samples/000900_cycle_consistency.jpg
expr/samples/000900_latent_psi_0.5.jpg
expr/samples/000900_latent_psi_0.7.jpg
expr/samples/000900_latent_psi_1.0.jpg
expr/samples/000900_reference.jpg
expr/samples/000950_cycle_consistency.jpg
expr/samples/000950_latent_psi_0.5.jpg
expr/samples/000950_latent_psi_0.7.jpg
expr/samples/000950_latent_psi_1.0.jpg
expr/samples/000950_reference.jpg
expr/samples/001000_cycle_consistency.jpg
expr/samples/001000_latent_psi_0.5.jpg
expr/samples/001000_latent_psi_0.7.jpg
expr/samples/001000_latent_psi_1.0.jpg
expr/samples/001000_reference.jpg
expr/samples/001050_cycle_consistency.jpg
expr/samples/001050_latent_psi_0.5.jpg
expr/samples/001050_latent_psi_0.7.jpg
expr/samples/001050_latent_psi_1.0.jpg
expr/samples/001050_reference.jpg
expr/samples/001100_cycle_consistency.jpg
expr/samples/001100_latent_psi_0.5.jpg
expr/samples/001100_latent_psi_0.7.jpg
expr/samples/001100_latent_psi_1.0.jpg
expr/samples/001100_reference.jpg
expr/samples/001150_cycle_consistency.jpg
expr/samples/001150_latent_psi_0.5.jpg
expr/samples/001150_latent_psi_0.7.jpg
expr/samples/001150_latent_psi_1.0.jpg
expr/samples/001150_reference.jpg
expr/samples/001200_cycle_consistency.jpg
expr/samples/001200_latent_psi_0.5.jpg
expr/samples/001200_latent_psi_0.7.jpg
expr/samples/001200_latent_psi_1.0.jpg
expr/samples/001200_reference.jpg
expr/samples/001250_cycle_consistency.jpg
expr/samples/001250_latent_psi_0.5.jpg
expr/samples/001250_latent_psi_0.7.jpg
expr/samples/001250_latent_psi_1.0.jpg
expr/samples/001250_reference.jpg
expr/samples/001300_cycle_consistency.jpg
expr/samples/001300_latent_psi_0.5.jpg
expr/samples/001300_latent_psi_0.7.jpg
expr/samples/001300_latent_psi_1.0.jpg
expr/samples/001300_reference.jpg
expr/samples/001350_cycle_consistency.jpg
expr/samples/001350_latent_psi_0.5.jpg
expr/samples/001350_latent_psi_0.7.jpg
expr/samples/001350_latent_psi_1.0.jpg
expr/samples/001350_reference.jpg
expr/samples/001400_cycle_consistency.jpg
expr/samples/001400_latent_psi_0.5.jpg
expr/samples/001400_latent_psi_0.7.jpg
expr/samples/001400_latent_psi_1.0.jpg
expr/samples/001400_reference.jpg
expr/samples/001450_cycle_consistency.jpg
expr/samples/001450_latent_psi_0.5.jpg
expr/samples/001450_latent_psi_0.7.jpg
expr/samples/001450_latent_psi_1.0.jpg
expr/samples/001450_reference.jpg
expr/samples/001500_cycle_consistency.jpg
expr/samples/001500_latent_psi_0.5.jpg
expr/samples/001500_latent_psi_0.7.jpg
expr/samples/001500_latent_psi_1.0.jpg
expr/samples/001500_reference.jpg
expr/samples/001550_cycle_consistency.jpg
expr/samples/001550_latent_psi_0.5.jpg
expr/samples/001550_latent_psi_0.7.jpg
expr/samples/001550_latent_psi_1.0.jpg
expr/samples/001550_reference.jpg
expr/samples/001600_cycle_consistency.jpg
expr/samples/001600_latent_psi_0.5.jpg
expr/samples/001600_latent_psi_0.7.jpg
expr/samples/001600_latent_psi_1.0.jpg
expr/samples/001600_reference.jpg
expr/samples/001650_cycle_consistency.jpg
expr/samples/001650_latent_psi_0.5.jpg
expr/samples/001650_latent_psi_0.7.jpg
expr/samples/001650_latent_psi_1.0.jpg
expr/samples/001650_reference.jpg
expr/samples/001700_cycle_consistency.jpg
expr/samples/001700_latent_psi_0.5.jpg
expr/samples/001700_latent_psi_0.7.jpg
expr/samples/001700_latent_psi_1.0.jpg
expr/samples/001700_reference.jpg
expr/samples/001750_cycle_consistency.jpg
expr/samples/001750_latent_psi_0.5.jpg
expr/samples/001750_latent_psi_0.7.jpg
expr/samples/001750_latent_psi_1.0.jpg
expr/samples/001750_reference.jpg
expr/samples/001800_cycle_consistency.jpg
expr/samples/001800_latent_psi_0.5.jpg
expr/samples/001800_latent_psi_0.7.jpg
expr/samples/001800_latent_psi_1.0.jpg
expr/samples/001800_reference.jpg
expr/samples/001850_cycle_consistency.jpg
expr/samples/001850_latent_psi_0.5.jpg
expr/samples/001850_latent_psi_0.7.jpg
expr/samples/001850_latent_psi_1.0.jpg
expr/samples/001850_reference.jpg
expr/samples/001900_cycle_consistency.jpg
expr/samples/001900_latent_psi_0.5.jpg
expr/samples/001900_latent_psi_0.7.jpg
expr/samples/001900_latent_psi_1.0.jpg
expr/samples/001900_reference.jpg
expr/samples/001950_cycle_consistency.jpg
expr/samples/001950_latent_psi_0.5.jpg
expr/samples/001950_latent_psi_0.7.jpg
expr/samples/001950_latent_psi_1.0.jpg
expr/samples/001950_reference.jpg
expr/samples/002000_cycle_consistency.jpg
expr/samples/002000_latent_psi_0.5.jpg
expr/samples/002000_latent_psi_0.7.jpg
expr/samples/002000_latent_psi_1.0.jpg
expr/samples/002000_reference.jpg
expr/samples/002050_cycle_consistency.jpg
expr/samples/002050_latent_psi_0.5.jpg
expr/samples/002050_latent_psi_0.7.jpg
expr/samples/002050_latent_psi_1.0.jpg
expr/samples/002050_reference.jpg
expr/samples/002100_cycle_consistency.jpg
expr/samples/002100_latent_psi_0.5.jpg
expr/samples/002100_latent_psi_0.7.jpg
expr/samples/002100_latent_psi_1.0.jpg
expr/samples/002100_reference.jpg
expr/samples/002150_cycle_consistency.jpg
expr/samples/002150_latent_psi_0.5.jpg
expr/samples/002150_latent_psi_0.7.jpg
expr/samples/002150_latent_psi_1.0.jpg
expr/samples/002150_reference.jpg
expr/samples/002200_cycle_consistency.jpg
expr/samples/002200_latent_psi_0.5.jpg
expr/samples/002200_latent_psi_0.7.jpg
expr/samples/002200_latent_psi_1.0.jpg
expr/samples/002200_reference.jpg
expr/samples/002250_cycle_consistency.jpg
expr/samples/002250_latent_psi_0.5.jpg
expr/samples/002250_latent_psi_0.7.jpg
expr/samples/002250_latent_psi_1.0.jpg
expr/samples/002250_reference.jpg
expr/samples/002300_cycle_consistency.jpg
expr/samples/002300_latent_psi_0.5.jpg
expr/samples/002300_latent_psi_0.7.jpg
expr/samples/002300_latent_psi_1.0.jpg
expr/samples/002300_reference.jpg
expr/samples/002350_cycle_consistency.jpg
expr/samples/002350_latent_psi_0.5.jpg
expr/samples/002350_latent_psi_0.7.jpg
expr/samples/002350_latent_psi_1.0.jpg
expr/samples/002350_reference.jpg
expr/samples/002400_cycle_consistency.jpg
expr/samples/002400_latent_psi_0.5.jpg
expr/samples/002400_latent_psi_0.7.jpg
expr/samples/002400_latent_psi_1.0.jpg
expr/samples/002400_reference.jpg
expr/samples/002450_cycle_consistency.jpg
expr/samples/002450_latent_psi_0.5.jpg
expr/samples/002450_latent_psi_0.7.jpg
expr/samples/002450_latent_psi_1.0.jpg
expr/samples/002450_reference.jpg
expr/samples/002500_cycle_consistency.jpg
expr/samples/002500_latent_psi_0.5.jpg
expr/samples/002500_latent_psi_0.7.jpg
expr/samples/002500_latent_psi_1.0.jpg
expr/samples/002500_reference.jpg
expr/samples/002550_cycle_consistency.jpg
expr/samples/002550_latent_psi_0.5.jpg
expr/samples/002550_latent_psi_0.7.jpg
expr/samples/002550_latent_psi_1.0.jpg
expr/samples/002550_reference.jpg
expr/samples/002600_cycle_consistency.jpg
expr/samples/002600_latent_psi_0.5.jpg
expr/samples/002600_latent_psi_0.7.jpg
expr/samples/002600_latent_psi_1.0.jpg
expr/samples/002600_reference.jpg
expr/samples/002650_cycle_consistency.jpg
expr/samples/002650_latent_psi_0.5.jpg
expr/samples/002650_latent_psi_0.7.jpg
expr/samples/002650_latent_psi_1.0.jpg
expr/samples/002650_reference.jpg
expr/samples/002700_cycle_consistency.jpg
expr/samples/002700_latent_psi_0.5.jpg
expr/samples/002700_latent_psi_0.7.jpg
expr/samples/002700_latent_psi_1.0.jpg
expr/samples/002700_reference.jpg
expr/samples/003000_cycle_consistency.jpg
expr/samples/003000_latent_psi_0.5.jpg
expr/samples/003000_latent_psi_0.7.jpg
expr/samples/003000_latent_psi_1.0.jpg
expr/samples/003000_reference.jpg
expr/samples/004000_cycle_consistency.jpg
expr/samples/004000_latent_psi_0.5.jpg
expr/samples/004000_latent_psi_0.7.jpg
expr/samples/004000_latent_psi_1.0.jpg
expr/samples/004000_reference.jpg
expr/samples/005000_cycle_consistency.jpg
expr/samples/005000_latent_psi_0.5.jpg
expr/samples/005000_latent_psi_0.7.jpg
expr/samples/005000_latent_psi_1.0.jpg
expr/samples/005000_reference.jpg
expr/samples/006000_cycle_consistency.jpg
expr/samples/006000_latent_psi_0.5.jpg
expr/samples/006000_latent_psi_0.7.jpg
expr/samples/006000_latent_psi_1.0.jpg
expr/samples/006000_reference.jpg
expr/samples/007000_cycle_consistency.jpg
expr/samples/007000_latent_psi_0.5.jpg
expr/samples/007000_latent_psi_0.7.jpg
expr/samples/007000_latent_psi_1.0.jpg
expr/samples/007000_reference.jpg
expr/samples/008000_cycle_consistency.jpg
expr/samples/008000_latent_psi_0.5.jpg
expr/samples/008000_latent_psi_0.7.jpg
expr/samples/008000_latent_psi_1.0.jpg
expr/samples/008000_reference.jpg
expr/samples/009000_cycle_consistency.jpg
expr/samples/009000_latent_psi_0.5.jpg
expr/samples/009000_latent_psi_0.7.jpg
expr/samples/009000_latent_psi_1.0.jpg
expr/samples/009000_reference.jpg
expr/samples/010000_cycle_consistency.jpg
expr/samples/010000_latent_psi_0.5.jpg
expr/samples/010000_latent_psi_0.7.jpg
expr/samples/010000_latent_psi_1.0.jpg
expr/samples/010000_reference.jpg
expr/samples/011000_cycle_consistency.jpg
expr/samples/011000_latent_psi_0.5.jpg
expr/samples/011000_latent_psi_0.7.jpg
expr/samples/011000_latent_psi_1.0.jpg
expr/samples/011000_reference.jpg
expr/samples/012000_cycle_consistency.jpg
expr/samples/012000_latent_psi_0.5.jpg
expr/samples/012000_latent_psi_0.7.jpg
expr/samples/012000_latent_psi_1.0.jpg
expr/samples/012000_reference.jpg
expr/samples/013000_cycle_consistency.jpg
expr/samples/013000_latent_psi_0.5.jpg
expr/samples/013000_latent_psi_0.7.jpg
expr/samples/013000_latent_psi_1.0.jpg
expr/samples/013000_reference.jpg
expr/samples/014000_cycle_consistency.jpg
expr/samples/014000_latent_psi_0.5.jpg
expr/samples/014000_latent_psi_0.7.jpg
expr/samples/014000_latent_psi_1.0.jpg
expr/samples/014000_reference.jpg
expr/samples/100000_cycle_consistency.jpg
expr/samples/100000_latent_psi_0.5.jpg
expr/samples/100000_latent_psi_0.7.jpg
expr/samples/100000_latent_psi_1.0.jpg
expr/samples/100000_reference.jpg
expr/samples/110000_cycle_consistency.jpg
expr/samples/110000_latent_psi_0.5.jpg
expr/samples/110000_latent_psi_0.7.jpg
expr/samples/110000_latent_psi_1.0.jpg
expr/samples/110000_reference.jpg
expr/samples/120000_cycle_consistency.jpg
expr/samples/120000_latent_psi_0.5.jpg
expr/samples/120000_latent_psi_0.7.jpg
expr/samples/120000_latent_psi_1.0.jpg
expr/samples/120000_reference.jpg
expr/samples/1234566_cycle_consistency.jpg
expr/samples/1234566_latent_psi_0.5.jpg
expr/samples/1234566_latent_psi_0.7.jpg
expr/samples/1234566_latent_psi_1.0.jpg
expr/samples/1234566_reference.jpg
expr/samples/1234567_cycle_consistency.jpg
expr/samples/1234567_latent_psi_0.5.jpg
expr/samples/1234567_latent_psi_0.7.jpg
expr/samples/1234567_latent_psi_1.0.jpg
expr/samples/1234567_reference.jpg
expr/samples/130000_cycle_consistency.jpg
expr/samples/130000_latent_psi_0.5.jpg
expr/samples/130000_latent_psi_0.7.jpg
expr/samples/130000_latent_psi_1.0.jpg
expr/samples/130000_reference.jpg
expr/samples/140000_cycle_consistency.jpg
expr/samples/140000_latent_psi_0.5.jpg
expr/samples/140000_latent_psi_0.7.jpg
expr/samples/140000_latent_psi_1.0.jpg
expr/samples/140000_reference.jpg
expr/samples/150000_cycle_consistency.jpg
expr/samples/150000_latent_psi_0.5.jpg
expr/samples/150000_latent_psi_0.7.jpg
expr/samples/150000_latent_psi_1.0.jpg
expr/samples/150000_reference.jpg
expr/samples/160000_cycle_consistency.jpg
expr/samples/160000_latent_psi_0.5.jpg
expr/samples/160000_latent_psi_0.7.jpg
expr/samples/160000_latent_psi_1.0.jpg
expr/samples/160000_reference.jpg
expr/samples/170000_cycle_consistency.jpg
expr/samples/170000_latent_psi_0.5.jpg
expr/samples/170000_latent_psi_0.7.jpg
expr/samples/170000_latent_psi_1.0.jpg
expr/samples/170000_reference.jpg
expr/samples/180000_cycle_consistency.jpg
expr/samples/180000_latent_psi_0.5.jpg
expr/samples/180000_latent_psi_0.7.jpg
expr/samples/180000_latent_psi_1.0.jpg
expr/samples/180000_reference.jpg
expr/samples/190000_cycle_consistency.jpg
expr/samples/190000_latent_psi_0.5.jpg
expr/samples/190000_latent_psi_0.7.jpg
expr/samples/190000_latent_psi_1.0.jpg
expr/samples/190000_reference.jpg
expr/samples/200000_cycle_consistency.jpg
expr/samples/200000_latent_psi_0.5.jpg
expr/samples/200000_latent_psi_0.7.jpg
expr/samples/200000_latent_psi_1.0.jpg
expr/samples/200000_reference.jpg
